/* custom-slider{
    display: block;
}

.splide__slide img {
    width: 100%; 
    height: 700px; 
    object-fit: cover; 
    border-radius: 20px;
}

.text {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
    max-width: 80%; 
    font-size: 60;
}

.text .tag {
    font-size: 1.5rem; 
    border: 2px solid white; 
    border-radius: 20px; 
    padding: 4px 10px;
    background: rgba(255, 255, 255, 0.2);
}

.text h1{
    font-size: 3rem; 
    font-weight: bold;

}

.text button{
    font-size: 1.2rem; 
    padding: 12px 24px; 
    border-radius: 20px; 
    border: none;
}
 */
/* for second image */
/* .text1 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    max-width: 500px;
}

.text1 .tag1 {
    font-size: 1rem;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid white;
}
 */
/* .text1 h1 {
    font-size: 2.5rem; /* Adjust for mobile responsiveness */
    /* font-weight: bold;
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
} */ 

/* .text1 button {
    background-color: white;
    color: black;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
}

.text1 button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: red;
} */

.splide {
    display: block;
}

.splide__slide img {
    width: 100%; 
    height: 700px; 
    object-fit: cover; 
    border-radius: 20px;
}

.slide-content {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
    max-width: 80%; 
    font-size: 60px;
}

.category {
    font-size: 1.5rem; 
    border: 2px solid white; 
    border-radius: 20px; 
    padding: 4px 10px;
    background: rgba(255, 255, 255, 0.2);
}

.slide-content h2 {
    font-size: 3rem; 
    font-weight: bold;
}

.explore-btn {
    font-size: 1.2rem; 
    padding: 12px 24px; 
    border-radius: 20px; 
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-top: 10px;
}

.explore-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: red;
}

/* class SyncSlider extends CustomSlider {
    constructor() {
        super();
        this.innerHTML = `
            <section id="thumbnail-carousel" class="splide"
  aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
>
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
				<img src="thumbnail01.jpg" alt="">
			</li>
			<li class="splide__slide">
				<img src="thumbnail02.jpg" alt="">
			</li>
			<li class="splide__slide">
				<img src="thumbnail03.jpg" alt="">
			</li>
		</ul>
  </div>
</section>

        
        `;


    }

}

customElements.define('sync-slider', SyncSlider); */
